body {
    padding-bottom: 168px;
}

.navbar {
    background-color: turquoise;
    margin-bottom: 0;
    border: 0;
}

.btn {
    background-color: paleturquoise;
    border-color: teal;
    color: teal;
}

.jumbotron {
    background-color: teal;
    color: turquoise;
    text-align: center;
    margin-bottom: 0;
}

.manybuttons {
    text-align: center;
    background-color:beige;
}

.buyinfo {
    text-align: center;
}

.navbar-fixed-bottom {
    color: lightgreen;
    text-align: center;
    background-color: green;
}